@{
    ViewBag.Title = "Message Templates";
}
@Styles.Render("~/Content/jqgrid")
@Scripts.Render("~/bundles/jquery")
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial(Url.Content("~/Views/Shared/_JqGridPartial.cshtml"))
    <script type="text/javascript">
        $().ready(function () {
            var baseUrl = '@Url.Content("~/")';
            var API_URL = baseUrl + "api/messagetemplate/";
            var grid = $('#tblgrid');
            $(grid).jqGrid({
                url: API_URL,
                sortname: 'Name', 
                sortorder: 'asc',  
            colModel: [
                {
                    name: 'Id',
                    label: 'Id',
                    editable: true,
                    edittype: 'text',
                    editoptions: { readonly: 'readonly' },
                    index: 'Id',
                    hidden: true
                }, {
                    name: 'Name',
                    editable: true,
                    edittype: 'text',
                    editoptions: { maxlength: 200 },
                    editrules: { required: true },
                    index: 'Name'
                }, {
                    name: 'BccEmailAddresses',
                    editable: true,
                    edittype: 'text',
                    eidtoptions: {},
                    editrules: { required: false },
                    index: 'BccEmailAddresses'
                }, {
                    name: 'Subject',
                    editable: true,
                    edittype: 'text',
                    editoptions: { maxlength: 1000 },
                    editrules: { required: false },
                    index: 'Subject'
                }, {
                    name: 'Body',
                    editable: true,
                    edittype: 'textarea',
                    editoptions: { rows: "10", cols: "50" },
                    editrules: { required: false },
                    index: 'Body'
                }, {
                    name: 'IsActive',
                    editable: true,
                    edittype: 'checkbox',
                    editoptions: { value: "true:false" },
                    formatter: 'checkbox',
                    searchoptions: { sopt: ['eq'], value: "true:true;false:false" },
                    stype: 'select',
                    index: 'IsActive'
                }
                ]
            });
            //$(grid).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false });
            $(grid).jqGrid("navGrid", "#pager", { add: true, edit: true, del: true, search: true, refresh: true },
                        updateDialog('PUT', API_URL),//edit parameters
                        updateDialog('POST', API_URL),//add parameters
                        updateDialog('DELETE', API_URL),//del parameters
            {
                groupOps: [{ op: "AND", text: "and" }, { op: "OR", text: "or" }], multipleSearch: true, multipleGroup: true, showQuery: true, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc']
            },//search parameters
            { recreateForm: true }
            );
            $(grid).jqGrid('navButtonAdd', "#pager",
            {
                caption: ""/*"Show"*/, buttonicon: "ui-icon-mail-closed", title: "Send Test Email",
                onClickButton: function () {
                    var rowid = $(grid).jqGrid('getGridParam', 'selrow');
                    if (!rowid) {
                        showSelectRowAlert(this);
                        return;
                    }
                    $.ajax({
                        type: 'POST',
                        url: baseUrl + 'api/messagetemplatetest/' + rowid,

                        crossDomain: false,
                        success: function (msg) {
                            //alert("success");
                        },
                        error: function (request, status, error) {
                            //log.error(error);
                        }
                    });
                }
            });
            $(grid).jqGrid('navButtonAdd', "#pager",
            //{ caption: "Clear", title: "Clear Search", buttonicon: 'ui-icon-arrowreturnthick-1-w', onClickButton: function () { $(grid)[0].clearToolbar(); } },
            {
                caption: ""/*"Show"*/, buttonicon: "ui-icon-disk", title: "Export to Excel",
                onClickButton: function () {
                    var postData = $(grid).jqGrid('getGridParam', 'postData');
                    var url = API_URL + "exporttoexcel/?";
                    $.each(postData, function (key, value) {
                        url += ((url.substr(-1) === "?" ? "" : "&") + key + "=" + encodeURIComponent(value));
                    });
                    window.open(url, '_blank', '');
                }
            });
        });
    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqgrid")
}





