@model Web.Areas.Admin.Models.UserRoleEditModel
@{
    ViewBag.Title = "Edit User: " + Model.User.Username;
}
@Styles.Render("~/Content/jqgrid")
@Scripts.Render("~/bundles/jquery")
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div>
                <a href="@Url.Action("Index", "User")" class="btn btn-info">
                    <span class="glyphicon glyphicon-hand-left"></span> Back
                </a>
            </div>
        </div>
        @Html.Partial(Url.Content("~/Views/Shared/_JqGridPartial.cshtml"))
        <script type="text/javascript">
            $().ready(function () {
                var baseUrl = '@Url.Content("~/")';
                var API_URL = baseUrl + "api/userroles/" + '@Model.User.ID';
                var grid = $('#tblgrid');
                $(grid).jqGrid({
                    url: API_URL,
                    sortname: 'HasRole', 
                    sortorder: 'desc', 
                    colModel: [
                    {
                        name: 'Id',
                        label: 'RoleId',
                        editable: true,
                        edittype: 'text',
                        editoptions: { readonly: 'readonly' },
                        index: 'Id',
                        hidden: true
                    }, {
                        name: 'Name',
                        editable: true,
                        edittype: 'text',
                        editoptions: { readonly: 'readonly' },
                        index: 'Name'
                    }, {
                        name: 'Description',
                        editable: true,
                        edittype: 'text',
                        editoptions: { readonly: 'readonly' },
                        index: 'Description'
                    }, {
                        name: 'HasRole',
                        editable: true,
                        edittype: 'checkbox',
                        editoptions: { value: "true:false" },
                        formatter: 'checkbox',
                        searchoptions: { sopt: ['eq'], value: "true:true;false:false" },
                        stype: 'select',
                        index: 'HasRole'
                    }
                    ]
                });
                $(grid).jqGrid("navGrid", "#pager", { add: false, edit: true, del: false, search: true, refresh: true },
                            updateDialog('PUT', API_URL),//edit parameters
                            updateDialog('POST', API_URL),//add parameters
                            updateDialog('DELETE', API_URL),//del parameters
                {
                    groupOps: [{ op: "AND", text: "and" }, { op: "OR", text: "or" }], multipleSearch: true, multipleGroup: true, showQuery: true, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc']/*,closeAfterSearch:true,*/
                },//search parameters
                { recreateForm: true }
                );
                $(grid).jqGrid('navButtonAdd', "#pager",
                //{ caption: "Clear", title: "Clear Search", buttonicon: 'ui-icon-arrowreturnthick-1-w', onClickButton: function () { $(grid)[0].clearToolbar(); } },
                {
                    caption: ""/*"Show"*/, buttonicon: "ui-icon-disk", title: "Export to Excel",
                    onClickButton: function () {
                        var postData = $(grid).jqGrid('getGridParam', 'postData');
                        var url = baseUrl + "api/userroles/exporttoexcel/?id=" + '@Model.User.ID';
                        $.each(postData, function (key, value) {
                            url += ((url.substr(-1) === "?" ? "" : "&") + key + "=" + encodeURIComponent(value));
                        });
                        window.open(url, '_blank', '');
                    }
                });
            });
            function updateDialog(action, url) {
                return {
                    url: url,
                    closeAfterAdd: false,
                    closeAfterEdit: false,
                    afterShowForm: function (formId) { },
                    modal: true,
                    onclickSubmit: function (params) {
                        var list = $("#tblgrid");
                        var selectedRow = list.getGridParam("selrow");
                        rowData = list.getRowData(selectedRow);
                        params.url = url; //+ rowData.UserId;
                        params.mtype = action;
                    },
                    beforeShowForm: function ($form) {
                        $form.find(".FormElement[readonly]")
                            .prop("disabled", true)
                            .addClass("ui-state-disabled")
                            .closest(".DataTD")
                            .prev(".CaptionTD")
                            .prop("disabled", true)
                            .addClass("ui-state-disabled");
                    },
                    recreateForm: true,
                    width: "300"
                };
            }
        </script>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqgrid")
}

