@{
    ViewBag.Title = "Users";
}
@Styles.Render("~/Content/jqgrid")
@Scripts.Render("~/bundles/jquery")
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial(Url.Content("~/Views/Shared/_JqGridPartial.cshtml"))
    <script type="text/javascript">
        $().ready(function () {
            var baseUrl = '@Url.Content("~/")';
            var API_URL = baseUrl + "api/user/";
            var grid = $('#tblgrid');
            //var clientTimezone = getTimezoneName();
            //var timezoneHeader = '';
            //if (clientTimezone)
            //    timezoneHeader = ' (' + clientTimezone + ')';
            $(grid).jqGrid({
                url: API_URL,
                shrinkToFit: false,
                sortname: 'FirstName',
                sortorder: 'asc',
                colModel: [
                {
                    name: 'ID',
                    label: 'Id',
                    editable: false,
                    edittype: 'text',
                    editoptions: { readonly: 'readonly' },
                    frozen: true,
                    index: 'ID',
                    hidden: true
                }, {
                    name: 'Tenant',
                    label: 'Application',
                    editable: true,
                    edittype: 'text',
                    eidtoptions: { maxlength: 50 },
                    editrules: { required: false },
                    frozen: true,
                    index: 'Tenant'
                }, {
                    name: 'Username',
                    editable: true,
                    edittype: 'text',
                    editoptions: { maxlength: 100 },
                    editrules: { required: true },
                    frozen: true,
                    index: 'Username'
                }, {
                    name: 'Email',
                    editable: true,
                    edittype: 'text',
                    editoptions: { maxlength: 100 },
                    editrules: { required: true, email: true },
                    index: 'Email'
                }, {
                    name: 'FirstName',
                    editable: true,
                    edittype: 'text',
                    editoptions: { maxlength: 100 },
                    editrules: { required: true },
                    index: 'FirstName'
                }, {
                    name: 'LastName',
                    editable: true,
                    edittype: 'text',
                    editoptions: { maxlength: 100 },
                    editrules: { required: true },
                    index: 'LastName'
                }, {
                    name: 'LastUpdated',
                    editable: false,
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                    index: 'LastUpdate'
                }, {
                    name: 'Created',
                    editable: false,
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                    index: 'Created'
                }, {
                    name: 'LastLogin',
                    editable: false,
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                    index: 'LastLogin'
                }, {
                    name: 'IsAccountClosed',
                    editable: true,
                    edittype: 'checkbox',
                    editoptions: { value: "true:false" },
                    formatter: 'checkbox',
                    searchoptions: { sopt: ['eq'], value: "true:true;false:false" },
                    stype: 'select',
                    index: 'IsAccountClosed'
                }, {
                    name: 'AccountClosed',
                    editable: false,
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                    index: 'AccountClosed'
                }, {
                    name: 'IsLoginAllowed',
                    editable: true,
                    edittype: 'checkbox',
                    editoptions: { value: "true:false" },
                    formatter: 'checkbox',
                    searchoptions: { sopt: ['eq'], value: "true:true;false:false" },
                    stype: 'select',
                    index: 'IsLoginAllowed'
                }, {
                    name: 'LastFailedLogin',
                    editable: false,
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                    index: 'LastFailedLogin'
                }, {
                    name: 'FailedLoginCount',
                    editable: true,
                    editrules: { integer: true },
                    searchoptions: { sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge'] },
                    searchrules: { required: true, integer: true },
                    index: 'FailedLoginCount'
                }, {
                    name: 'PasswordChanged',
                    editable: false,
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                    index: 'PasswordChanged'
                }, {
                    name: 'RequiresPasswordReset',
                    editable: true,
                    edittype: 'checkbox',
                    editoptions: { value: "true:false" },
                    formatter: 'checkbox',
                    searchoptions: { sopt: ['eq'], value: "true:true;false:false" },
                    index: 'RequiresPasswordReset'
                }, {
                    name: 'IsAccountVerified',
                    editable: true,
                    edittype: 'checkbox',
                    editoptions: { value: "true:false" },
                    formatter: 'checkbox',
                    searchoptions: { sopt: ['eq'], value: "true:true;false:false" },
                    stype: 'select',
                    index: 'IsAccountVerified'
                }, {
                    name: 'LastFailedPasswordReset',
                    editable: false,
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                    index: 'LastFailedPasswordReset'
                }, {
                    name: 'FailedPasswordResetCount',
                    editable: true,
                    editrules: { integer: true },
                    searchoptions: { sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge'] },
                    searchrules: { required: true, integer: true },
                    index: 'FailedPasswordResetCount'
                    //}, {
                    //    name: 'MobileCode',
                    //    editable: true,
                    //    edittype: 'text',
                    //    editoptions: { maxlength: 100 },
                    //    editrules: { required: true },
                    //    index: 'MobileCode'
                    //}, {
                    //    name: 'MobileCodeSent',
                    //    editable: false,
                    //    sorttype: 'date',
                    //    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    //    searchrules: { required: true, custom: true, custom_func: validateDate },
                    //    index: 'MobileCodeSent'
                }, {
                    name: 'MobilePhoneNumber',
                    editable: true,
                    edittype: 'text',
                    editoptions: { maxlength: 20 },
                    editrules: { required: false },
                    index: 'MobilePhoneNumber'
                    //}, {
                    //    name: 'MobilePhoneNumberChanged',
                    //    editable: false,
                    //    sorttype: 'date',
                    //    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    //    searchrules: { required: true, custom: true, custom_func: validateDate },
                    //    index: 'MobilePhoneNumberChanged'
                    //}, {
                    //    name: 'AccountTwoFactorAuthMode',
                    //    editable: true,
                    //    editrules: { integer: true },
                    //    searchoptions: { sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge'] },
                    //    searchrules: { required: true, integer: true },
                    //    index: 'AccountTwoFactorAuthMode'
                    //}, {
                    //    name: 'CurrentTwoFactorAuthStatus',
                    //    editable: true,
                    //    editrules: { integer: true },
                    //    searchoptions: { sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge'] },
                    //    searchrules: { required: true, integer: true },
                    //    index: 'CurrentTwoFactorAuthStatus'
                }, {
                    name: 'VerificationKey',
                    editable: false,
                    edittype: 'text',
                    editoptions: { maxlength: 100 },
                    editrules: { required: false },
                    index: 'VerificationKey'
                }, {
                    name: 'VerificationPurpose',
                    editable: false,
                    editrules: { integer: true },
                    searchoptions: { sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge'] },
                    searchrules: { required: true, integer: true },
                    index: 'VerificationPurpose'
                }, {
                    name: 'VerificationKeySent',
                    editable: false,
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                    index: 'VerificationKeySent'
                    //}, {
                    //    name: 'VerificationStorage',
                    //    editable: true,
                    //    edittype: 'text',
                    //    editoptions: { maxlength: 100 },
                    //    editrules: { required: false },
                    //    index: 'VerificationStorage'
                    //}, {
                    //    name: 'HashedPassword',
                    //    editable: true,
                    //    edittype: 'text',
                    //    editoptions: { maxlength: 100 },
                    //    editrules: { required: true },
                    //    index: 'HashedPassword'
                }
                ]
            });
            //$(grid).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false });
            $(grid).jqGrid("navGrid", "#pager", { add: true, edit: true, del: true, search: true, refresh: true },
                        updateDialog('PUT', API_URL),//edit parameters
                        updateDialog('POST', API_URL),//add parameters
                        updateDialog('DELETE', API_URL),//del parameters
            {
                groupOps: [{ op: "AND", text: "and" }, { op: "OR", text: "or" }], multipleSearch: true, multipleGroup: true, showQuery: true, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc']/*,closeAfterSearch:true,*/
            },//search parameters
                { recreateForm: true }
            );
            $(grid).jqGrid('navButtonAdd', "#pager",
            //{ caption: "Clear", title: "Clear Search", buttonicon: 'ui-icon-arrowreturnthick-1-w', onClickButton: function () { $(grid)[0].clearToolbar(); } },
            {
                caption: ""/*"Show"*/, buttonicon: "ui-icon-zoomin", title: "View User Roles",
                onClickButton: function () {
                    var rowid = $(grid).jqGrid('getGridParam', 'selrow');
                    if (!rowid) {
                        showSelectRowAlert(this);
                        return;
                    }
                    window.location = '@Url.Action("Edit", "User")?id=' + rowid;//$(grid).jqGrid('getCell', rowid, 'dataUrl')
                }
            });
            $(grid).jqGrid('navButtonAdd', "#pager",
            //{ caption: "Clear", title: "Clear Search", buttonicon: 'ui-icon-arrowreturnthick-1-w', onClickButton: function () { $(grid)[0].clearToolbar(); } },
            {
                caption: ""/*"Show"*/, buttonicon: "ui-icon-disk", title: "Export to Excel",
                onClickButton: function () {
                    var postData = $(grid).jqGrid('getGridParam', 'postData');
                    var url = API_URL + "exporttoexcel/?";
                    $.each(postData, function (key, value) {
                        url += ((url.substr(-1) === "?" ? "" : "&") + key + "=" + encodeURIComponent(value));
                    });
                    window.open(url, '_blank', '');
                }
            });
            $(grid).jqGrid('setFrozenColumns');
        });
    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqgrid")
}
