@{
    ViewBag.Title = "Role User List";
}
@Styles.Render("~/Content/jqgrid")
@Scripts.Render("~/bundles/jquery")
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial(Url.Content("~/Views/Shared/_JqGridPartial.cshtml"))
    <script type="text/javascript">
        $().ready(function () {
            var baseUrl = '@Url.Content("~/")';
            var API_URL = baseUrl + "api/roleuserlist/";
            var grid = $('#tblgrid');
            $(grid).jqGrid({
                url: API_URL,
                sortname: 'Name', 
                sortorder: 'asc', 
                loadComplete: function (data) {
                    $('[data-toggle="confirmation-singleton"]').confirmation({
                        onConfirm: function (event, element) {
                            $.ajax({
                                type: 'DELETE',
                                url: baseUrl + 'api/roleuserlist/remove/' + element.attr('rid') + '/' + element.attr('uid'),
                                success: function (msg) {
                                    element.parent().remove();
                                },
                                error: function (request, status, error) {
                                    //log.error(error);
                                }
                            });
                        },
                        onCancel: function (event, element) {
                        }
                    })
                },
                colModel: [
                {
                    name: 'Id',
                    label: 'Id',
                    editable: true,
                    edittype: 'text',
                    editoptions: { readonly: 'readonly' },
                    index: 'Id',
                    hidden: true
                }, {
                    name: 'Name',
                    editable: true,
                    edittype: 'text',
                    eidtoptions: { maxlength: 100 },
                    editrules: { required: true },
                    index: 'Name'
                }, {
                    name: 'Description',
                    editable: true,
                    edittype: 'text',
                    editoptions: { maxlength: 150 },
                    editrules: { required: false },
                    index: 'Description'
                }, {
                    name: 'Users',
                    label: 'Users in Role',
                    search: false,
                    sortable: false,
                    editable: false,
                    edittype: 'text',
                    editoptions: { maxlength: 150 },
                    editrules: { required: false },
                    formatter: UsersFormatter,
                    index: 'Users'
                }
                ]
            });
            //$(grid).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false });
            $(grid).jqGrid("navGrid", "#pager", { add: false, edit: false, del: false, search: true, refresh: true },
                        updateDialog('PUT', API_URL),//edit parameters
                        updateDialog('POST', API_URL),//add parameters
                        updateDialog('DELETE', API_URL),//del parameters
            {
                groupOps: [{ op: "AND", text: "and" }, { op: "OR", text: "or" }], multipleSearch: true, multipleGroup: true, showQuery: true, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc']
            },//search parameters
            { recreateForm: true }
            );
            $(grid).jqGrid('navButtonAdd', "#pager",
            //{ caption: "Clear", title: "Clear Search", buttonicon: 'ui-icon-arrowreturnthick-1-w', onClickButton: function () { $(grid)[0].clearToolbar(); } },
            {
                caption: ""/*"Show"*/, buttonicon: "ui-icon-disk", title: "Export to Excel",
                onClickButton: function () {
                    var postData = $(grid).jqGrid('getGridParam', 'postData');
                    var url = API_URL + "exporttoexcel/?";
                    $.each(postData, function (key, value) {
                        url += ((url.substr(-1) === "?" ? "" : "&") + key + "=" + encodeURIComponent(value));
                    });
                    window.open(url, '_blank', '');
                }
            });
            function UsersFormatter(cellvalue, options, rowObject) {
                var table = "<div>", row = '', username = '',
                    cellData = rowObject[3];
                if (cellData.length === 0)
                    return '';
                for (var i = 0; i < cellData.length; i++) {
                    row = "<div>";
                    username = cellData[i].UserName;
                    if (cellData[i].FirstName) {
                        username += ' (' + cellData[i].FirstName;
                        if (cellData[i].LastName)
                            username += ' ' + cellData[i].LastName;
                        username += ')';
                    }
                    row += '<a href="#" data-container="body" rid="' + rowObject[0] + '" uid="' + cellData[i].Id + '" btnCancelClass="" data-popout="false" data-placement="top" data-toggle="confirmation-singleton" data-original-title=\'Are you sure to remove user ' + username + ' from role ' + rowObject[1] + '?\'><span class="glyphicon glyphicon-trash text-danger"></span> ' + username + ' </a></div>';
                    table += row;
                }
                table += "</div>";
                return table;
            };
        });
    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqgrid")
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-confirmation.js")"></script>
}





