@{
    ViewBag.Title = "Activity Logs";
}
@Styles.Render("~/Content/jqgrid")
@Scripts.Render("~/bundles/jquery")
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial(Url.Content("~/Views/Shared/_JqGridPartial.cshtml"))
    <script type="text/javascript">
        $().ready(function () {
            var baseUrl = '@Url.Content("~/")';
            var API_URL = baseUrl + "api/activitylog/";
            var grid = $('#tblgrid');
            //var clientTimezone = getTimezoneName();
            //var timezoneHeader = '';
            //if (clientTimezone)
            //    timezoneHeader = ' (' + clientTimezone + ')';
            $(grid).jqGrid({
                url: API_URL,
                sortname: 'CreatedDate', 
                sortorder: 'desc', 
            //colNames: ["Id", "Application", "Time"+timezoneHeader, "Type", "User", "Message","Host","Status Code"],
                colModel: [
                {
                    name: 'Id',
                    label: 'Id',
                    index: 'Id',
                    sortable: false,
                    width: 300,
                    searchoptions: { sopt: ['eq', 'ne'] },
                    //sorttype: 'text',
                    searchrules: { required: true, custom: true, custom_func: validateGuid },
                }, {
                    name: 'Application',
                    index: 'Application',
                }, {
                    name: 'CreatedDate',
                    index: 'CreatedDate',
                    //formatter: 'date',
                    //formatoptions: { 'srcformat': 'ISO8601Long', 'newformat': 'm/d/Y - g:i A' },
                    sorttype: 'date',
                    searchoptions: { sopt: ['lt', 'le', 'gt', 'ge'], dataInit: datePick, att: { title: 'Select Date' } },
                    searchrules: { required: true, custom: true, custom_func: validateDate },
                }, {
                    name: 'Activity',
                    index: 'Activity',
                }, {
                    name: 'Detail',
                    index: 'Detail',
                }, {
                    name: 'UserName',
                    index: 'UserName'
                }, {
                    name: 'ClientIP',
                    index: 'ClientIP',
                }
                ]
            });
            //$(grid).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false });
            $(grid).jqGrid("navGrid", "#pager", { add: false, edit: false, del: false, search: true, refresh: true },
                        updateDialog('PUT', API_URL),//edit parameters
                        updateDialog('POST', API_URL),//add parameters
                        updateDialog('DELETE', API_URL),//del parameters
            {
                groupOps: [{ op: "AND", text: "and" }, { op: "OR", text: "or" }], multipleSearch: true, multipleGroup: true, showQuery: true, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc']
            },//search parameters
            { recreateForm: true }
            );
            $(grid).jqGrid('navButtonAdd', "#pager",
            //{ caption: "Clear", title: "Clear Search", buttonicon: 'ui-icon-arrowreturnthick-1-w', onClickButton: function () { $(grid)[0].clearToolbar(); } },
            {
                caption: ""/*"Show"*/, buttonicon: "ui-icon-disk", title: "Export to Excel",
                onClickButton: function () {
                    var postData = $(grid).jqGrid('getGridParam', 'postData');
                    var url = API_URL + "exporttoexcel/?";
                    $.each(postData, function (key, value) {
                        url += ((url.substr(-1) === "?" ? "" : "&") + key + "=" + encodeURIComponent(value));
                    });
                    window.open(url, '_blank', '');
                }
            });
        });
    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqgrid")
}





