@model Web.Areas.UserAccount.Models.LoginInputModel
@{
    ViewBag.Title = "Log in";
}
<div class="center col-md-7 well">
    @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <fieldset>
            @Html.AntiForgeryToken()
            <legend>User login</legend>
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @style = "margin-left:0" })
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3 checkbox">
                    @Html.ActionLink("Forgot Password?", "Index", "PasswordReset")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-2">
                    <input type="submit" value="Log in" class="btn btn-info" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    @Html.ActionLink("Register", "Index", "Register") if you don't have a local account.
                </div>
            </div>
        </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}