@model Web.Areas.UserAccount.Models.ChangePasswordFromResetKeyInputModel
@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class='form-horizontal well'>
        <fieldset>
            <legend>ViewBag.Title</legend>
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.Key)

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-info" value="Change Password" />
                </div>
            </div>
        </fieldset>
    </div>
}
