@model Web.Areas.UserAccount.Models.ChangePasswordInputModel
@{
    ViewBag.Title = "Change Password";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class='form-horizontal well'>
        <fieldset>
            <legend>@ViewBag.Title</legend>
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPasswordConfirm, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-info" value="Change Password" />
                </div>
            </div>
        </fieldset>
    </div>
}
